.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    &Button {
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        height: 0.75rem;
        width: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &Close {
        transform: rotate(45deg);
        background: rgba(255, 95, 87, 1);
    }
    &Hide {
        background: rgba(254, 188, 46, 1);
    }
    &Expand {
        background: rgba(40, 200, 64, 1);
    }
}
